* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    background-color: #073b4c;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 2rem;

}

#container {
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #118ab2;
}

.fizz {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #1ecd8d;
}

.buzz {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #fec954;
}

.fizzbuzz {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #ea2a5d;

}