* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #073b4c;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    margin-bottom: 2rem;

}

#container {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #118ab2;
}